html {
  font-size: 16px;
}

#loader{
  position: absolute;
  width: 200px;
  height: 50px;
  font-size: 20px;
  background: white;
  color: black;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -100px;
  z-index: 999;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
}

md-dialog {
  /*padding: 40px;*/
  min-width: 600px;
}

.md-subheader.md-default-theme {
  background-color: #ee6e73;
  margin: 0;
}

md-dialog md-dialog-content {
  padding: 0px;
}
