<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <!-- Boostrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <!-- Local CSS -->
  <link rel="stylesheet" type="text/css" href="style.css">

  <!-- SCRIPTS -->
  <!-- jQuery -->
  <!-- // <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script> -->
  <!-- jQuery UI -->
  <!-- <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> -->
  <!-- jQuery Mobile -->
  <!-- <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
  <!-- Angular -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
  <!-- Boostrap JS -->
  <!-- // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
  <!-- Local JS -->
  <script src="script.js"></script>

</head>
<body ng-app="MoviesApp">
  <div class="container" ng-controller="SearchController">

    <h1>{{title}}</h1>

    <div class="alert alert-warning" ng-show="movies.Error">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{movies.Error}}
    </div>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <form ng-submit="search()" class="form">
          <div class="form-group">
            <input type="text" ng-model="searchTerm" name="movie" class="form-control text-center" id="" placeholder="Enter a Movie Name">
            <!-- This next commented out line is stuff you can add to the input to do auto searches every  -->
            <!-- ng-change="search()" ng-model-options="{ debounce: 1000 }" -->
          </div>
          <div class="text-center">
            <input type="submit" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <table class="table table-hover" ng-if="movies.Search.length > 0">
          <thead>
            <tr>
              <th>Title</th>
              <th>Year</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="movie in movies.Search track by $index">
              <td><a href="" ng-click="showMovie(movie.imdbID)">{{movie.Title}}</a></td>
              <td>{{movie.Year}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div> <!-- End Container -->
</body>
</html>
