<div ng-app="Bloggy">

  <div id="loader" ng-if="$root.loading">
    Loading...
  </div>

  <nav ng-controller="NavCtrl">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Bloggy</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li ng-show="currentUser">{{currentUser.firstName || 'User'}}</li>
        <li>
          <a href="#" ng-click="showLogin($event)" ng-hide="currentUser">Login</a>
          <a href="#" ng-click="logout()" ng-show="currentUser">Logout</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/about">About</a></li>
        <li ng-show="currentUser">{{currentUser.firstName || 'User'}}</li>
        <li>
          <a href="#" ng-click="showLogin($event)" ng-hide="currentUser">Login</a>
          <a href="#" ng-click="logout()" ng-show="currentUser">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <alerts></alerts>

    <ng-view></ng-view>
  </div>

</div>

