<h2>{{post.title}}</h2>

<p>{{post.body}}</p>

<hr>

<div ng-if="!currentUser">
  Login to Post a Comment
</div>
<form class="form" ng-show="currentUser" ng-submit="addComment()">
  <div class="form-group">
    <textarea class="form-control" ng-model="commentText"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Add Comment</button>
</form>
<div class="well" ng-repeat="comment in post.comments">
  {{comment.body}}
  <br>
  <em class="pull-right">{{comment.createdAt | date: 'short'}}</em>
</div>
<div class="text-center" ng-if="!post.comments || post.comments.length < 1">
  There are no comments yet. Be the first to comment!
</div>


